/* global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared style */
.container {
    width: 85%;
    max-width: 1360px;
    border: 1px solid red;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    cursor: pointer;
}

.btn:hover{
    background-color: #24844c;
}

/* main style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    font-weight: medium;
    text-decoration: none;
}

nav .brand-logo img{
    max-width: 140px;
}